
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header { border-style: solid;
  margin-left: 50px;
  margin-right: 50px;
  border-color: slategray;


}

/* GLOBAL */
body {
  font-family: "Inter", Arial, sans-serif;
  background-color: #020617;
  background-image:
    radial-gradient(circle at 1px 1px, rgba(56,189,248,0.15) 1px, transparent 0);
  background-size: 40px 40px;
  animation: bgMove 20s linear infinite;
  color: #e5e7eb;
}

@keyframes bgMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 400px 400px;
  }
}

/* HEADER */
header {
  background: linear-gradient(135deg, #020617, #0b1220);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding: 60px 20px;
  text-align: center;
}

header p {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #38bdf8;
}

/* HERO */
.hero {
  margin-top: 25px;
  font-size: 18px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  color: #cbd5f5;
}

/* NAV */
nav {
  background-color: #020617;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 18px 0;
}

nav li {
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #e5e7eb;
}

nav li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #38bdf8;
  transition: width 0.3s ease;
}

nav li:hover::after {
  width: 100%;
}

/* MAIN */
main {
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px;
}

/* SECTION */
main section {
  background: #020617;
  padding: 50px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

/* TITRES */
h1, h2, h3, h4 {
  color: #38bdf8;
  margin-bottom: 20px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
  margin-top: 50px;
}

h3 {
  font-size: 24px;
  margin-top: 40px;
}

h4 {
  font-size: 22px;
  margin-top: 50px;
}

/* TEXTES */
p {
  color: #cbd5f5;
  margin-bottom: 22px;
}

/* LISTES */
ul {
  list-style: none;
  print-color-adjust: calc(display);

}

ul li {
  margin-top: 18px;
  font-weight: 600;
  color: #e5e7eb;
}

/* BLOCS TEXTE (valeurs + témoignages) */
ul li + p {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 3px solid #38bdf8;
  color: #94a3b8;
  font-style: italic;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header p {
    font-size: 24px;
  }

  .hero {
    font-size: 16px;
  }

  nav ul {
    flex-direction: column;
    gap: 18px;
  }

  main section {
    padding: 30px;
  }
}
